[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
accelerate = "*"
tk = "*"
customtkinter = "*"
pillow = "*"
diffusers = "*"
numpy = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
