[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
tk = "*"
customtkinter = "*"
pillow = "*"
transformers = "==4.19.2"
invisible-watermark = "*"
diffusers = "==0.12.1"
accelerate = "*"
ftfy = "*"
spacy = "*"
cython = ">=0.29.24"
pytest = ">=6.2.4"
pytest-benchmark = ">=3.4.1"
numpy = ">=1.21.1"
pyclibrary = ">=0.1.7"
nvidia-pyindex = "*"

[dev-packages]

[requires]
python_version = "3.10"
